@media only screen and (max-width:1200px) {
	.row
	{
		padding:0 2%;
	}
	
	.hero-text-box{
        padding:0 2%;
        width:100%;
        
    }
	
	
	.footer-box
	{
		padding:12px;
		margin:0!important;
	}
	
	h5:after
	{
		height:2px;
		width:45px;
		top:47px;
	}
}

@media only screen and (max-width:1023px) {
	.portfolio-box img
	{
		height:200px;
	}
	
	.figure-img
	{
		height:200px;
	}
	
	body
	{
		font-size:18px;
	}
	
	section
	{
		padding:50px 0;
	}
	
	.about-details
	{
		margin-bottom:53px;
	}
	
	h5:after
	{
		height:2px;
		width:45px;
		top:44px;
	}
	
	h5
	{
		margin-bottom:15px;
	}
	
	.testimonials li
	{
		width:33.33%;
		height:210px;
		padding:20px 11px 15px;
	}
	
	.about-details div
	{
		height:70x;
		width:70px;
		margin-right:20px;
		padding-top:15px;
	}
	
	.box
	{
		min-height:400px;
	}
	
}

@media only screen and (max-width:915px) {
	.testimonials li
	{
		float:left;
		width:49.2%;
		height:170px;
		padding:20px 11px;
	}
	
	.testimonials li:nth-child(1)
	{
		border-right:1px dashed #d4d4d4;
	}
	
	.testimonials li:nth-child(2)
	{
		border-right:none;
	}
	
	.testimonials li:nth-child(3)
	{
		border-right:1px dashed #d4d4d4;
		border-top:1px dashed #d4d4d4;
	}
	
	.testimonials li:nth-child(4)
	{
		border-right:none;
		border-top:1px dashed #d4d4d4;
	}
	
	.img-person img
	{
		width:50px;
		height:50px;
	}
	
	.service-img
	{
		width:100%;
		height:130px;
	}
    .box{
        min-height:355px;
    }
    .portfolio-box{
        width:100% !important;
    }
    .figure-img{
        overflow:hidden;
        background-color:#000;
        height:430px;
}
    .portfolio-box img{
        width:100%;
        height:430px;
}
    
}

@media only screen and (max-width:909px) {
    .service-img{height:130px;}
	body
	{
		font-size:16px;
	}
	
	h5:after
	{
		height:2px;
		width:45px;
		top:42px;
	}
}

@media only screen and (max-width:833px) {
    .hero-text-box{
        margin-top:85px;
}
    .hero-text-box h1{
        font-size:270%;
}
	.mobile-nav-icon
	{
		display:block;
        color:#fff;
		margin-top:16px;
		margin-right:22px;
	}
    
    .sticky .mobile-nav-icon{
        float:right;
        margin-top:15px;
        margin-right:22px;
        display:block;
        cursor:pointer;
        color:#000;
        font-size:200%;
    }
	.main-nav
	{
		display:none;
		float:left;
		position:relative;
		padding:25px 1% 0;
	}
	
	.main-nav li
	{
		display:block;
		margin-bottom:15px;
	}
	
	section
	{
		padding:30px 0;
	}
	
	
	.col
	{
		width:100%;
		margin:0 0 4%;
	}
	
	.service-img
	{
		height:auto;
	}
	
	.about-details:nth-child(3)
	{
		margin-bottom:70px;
	}
	
	.details-box
	{
		padding:15px 0 12px;
	}
	
	.testimonials li
	{
		float:left;
		width:100%;
		height:155px;
		padding:20px 0 25px;
	}
	
	.testimonials li:nth-child(1)
	{
		border-right:none;
	}
	
	.testimonials li:nth-child(2)
	{
		border-top:1px dashed #d4d4d4;
	}
	
	.testimonials li:nth-child(3)
	{
		border-right:none;
		border-top:1px dashed #d4d4d4;
	}
	
	.testimonials li:nth-child(5)
	{
		border-right:none;
		border-top:1px dashed #d4d4d4;
	}
	
	
	.footer-box a:link,.footer-box a:visited
	{
		padding:10px;
	}
	
	.footer-box
	{
		width:100% !important;
	}
	
	.contact-info
	{
		font-size:100%;
		min-width:100% !important;
	}
	
	.submit
	{
		width:100%!important;
		margin-top:50px;
	}
    .figure-img{
        overflow:hidden;
        background-color:#000;
        height:360px;
}
    .portfolio-box img{
        width:100%;
        height:360px;
}
}

@media only screen and (max-width:460px) {
       .hero-text-box{
         margin-top:70px;
}
    .hero-text-box h1{
        font-size:240%;
}
	section
	{
		padding:25px 0;
	}
	
	.img-person img
	{
		width:40px;
		height:40px;
	}
	
	.logo h1
	{
		font-size:120%;
	}
	
	.logo-black h3
	{
		font-size:120%;
	}
	
	.mobile-nav-icon
	{
		margin-top:6px;
		margin-right:22px;
	}
    .figure-img{
        overflow:hidden;
        background-color:#000;
        height:300px;
}
    .portfolio-box img{
        width:100%;
        height:300px;
}
    .btn-ghost, .btn-full{
        display:none;
    }
}