/* Basic Setup */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-family:'Raleway', sans-serif;
    font-size:20px;
    font-weight:300;
    color:#666;
    background-color:#fff;
    text-rendering:optimizeLegibility;
    overflow:hidden;
}
.group:after{
    content:"";
    display:table;
    clear:both;
}
header{
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url("screenshots/pexels-photo-210602.jpeg");
    background-size:cover;
    background-position:center bottom;
    background-attachment:fixed;
    position:relative;
}
.top-bar{
    border-bottom:1px solid rgba(255, 255, 255, 0.70);
}
.logo-box{
    float:left;
    padding:25px 0 30px 8%;
    color:#fff;
    width:30%;
    border-right:1px solid rgba(255, 255, 255, 0.70);
}
.logo-box h3{
    cursor:pointer;
}
.main-nav{
    float:right;
    list-style:none;
    padding:25px 30px 0 8%;
    width:70%;
    text-align:right;
}
.main-nav li {
    display:inline-block;
    margin-right:25px;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration:none;
    color:#ecf0f1;
    font-size:65%;
    text-transform:uppercase;
    font-weight:600;
    transition:color .1s ease-in-out;
    padding:10px;
}
.main-nav li a:hover,
.main-nav li a:active{
    color:#fff;
}
.hero-text-box{
    width:80%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
h1{
    color:#fff;
    font-size:300%;
    font-weight:300;
    text-transform:uppercase;
    margin-bottom:55px;
}
.hero-text-box p{
    color:#ecf0f1;
    margin-bottom:45px;
    display:none;
}
.btn:link,
.btn:visited{
    padding:10px 30px;
    margin-right:40px;
    text-decoration:none;
    border-radius:2px;
}
.btn-full:link,
.btn-full:visited{
    color:#ecf0f1;
    background-color:#1abc9c;
    border:2px solid #1abc9c;
    transition:border 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn-full:hover,
.btn-full:active{
    background-color:#16a085;
    border:2px solid #16a085;
}
.btn-ghost:link,
.btn-ghost:visited{
    border:2px solid #1abc9c;
    color:#1abc9c;
    background-color:rgba(255, 255, 255, 0.1);
    transition:border 0.2s ease-out, background-color 0.2s ease-out, color 0.2s ease-out;
}
.btn-ghost:hover,
.btn-ghost:active{
    background-color:#16a085;
    border:2px solid #16a085;
    color:#fff;
}
.mobile-nav-icon{
    float:right;
    margin-top:30px;
    display:none;
    cursor:pointer;
    color:#fff;
    font-size:200%;
}







