/* ---------------------*/
/*     BASIC SETUP      */
/* ---------------------*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-family:'Raleway', sans-serif;
    font-size:20px;
    font-weight:300;
    color:#fff;
    background-color:#fff;
    text-rendering:optimizeLegibility;
    overflow:hidden;
}
.row{
    max-width:1240px;
    margin:0 auto;
}
.group:after{
    content:"";
    display:table;
    clear:both;
}
/* ---------------------*/
/*       TOP BAR        */
/* ---------------------*/
.wrap{
    background-color:#34495e;
    height:75px;
}
.logo{
    font-size:115%;
    margin:20px 0 1% 0 !important;
    color:#ecf0f1;
    padding-left:20px;
}
.box{
    display:inline-block;
    margin-right:40px;
    margin-top:5px;
    float:right;
}
.box:nth-child(3):after{
    content:"";
    height:35px;
    width:1px;
    display:inline-block;
    background-color:#fff;
    transform:translate(15px,5px);
}
.box:nth-child(2):after{
    content:"";
    height:35px;
    width:1px;
    display:inline-block;
    background-color:#fff;
    transform:translate(15px,5px);
}
/* ---------------------*/
/*      INSIDE DIVS     */
/* ---------------------*/

.box div{
    display:inline-block;
    font-size:80%;
}
.box div p{
    text-transform:uppercase;
    color:#ecf0f1;
    font-size:84%;
    margin-bottom:3px;
}
span{
    color:#e67e22;
    font-weight:500;
}
.icon-contact{
    font-size:190%;
    color:#ecf0f1;
    margin-right:10px;
    vertical-align:top;
    cursor:pointer;
}
.icon-contact:hover{
    color:#bdc3c7;
} 
/* ---------------------*/
/*       HEADER         */
/* ---------------------*/
header{
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)),url("screenshots/pexels-photo-29596%20(1).jpg");
    background-size:cover;
    background-position:center top;
    position:relative;
}
.nav{
    background-color:#ecf0f1;
}
.main-nav{
    width:55%;
    margin:0 auto;
    list-style:none;
    text-align:left;
    padding:15px 0;
}
.main-nav li{
    display:inline-block;
    margin-left:45px;
}
.main-nav li a:link,
.main-nav li a:visited{
    text-decoration:none;
    color:#34495e;
    font-size:75%;
    font-weight:500;
    padding:5px;
    text-transform:uppercase;
}
.main-nav li a:hover,
.main-nav li a:active{
    color:#bdc3c7;
}
/* ---------------------*/
/*       TOP BAR        */
/* ---------------------*/
.hero-text-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:0 2%;
    width:1140px;
}
h1{
    text-transform:uppercase;
    font-size:250%;
    font-weight:400;
    letter-spacing:1px;
    word-spacing:3px;
    margin-bottom:30px;
}
.btn-full:link,
.btn-full:visited{
    text-decoration:none;
    color:#fff;
    padding:10px 20px;
    background-color:#e67e22;
    border:1px solid #e67e22;
    border-radius:3px;
    transition:border .2s ease-out, background-color .2s ease-out;
    box-shadow:2px 3px #d35400;
}
.btn-full:hover,
.btn-full:active{
    background-color:#d35400;
    border:1px solid #d35400;
}


/* TOP BAR CONFIGURATION */
@media (min-width: 990px) {
.nav-container nav .nav-utility {background: #8CBD3A;
color:#fff !important; width:100%; padding-left:67px; height: 48px;     line-height: 49px;} .sub{font-size:15px;}
} 

@media (min-width: 360px) {
.nav-container nav .nav-utility {background-color: #8CBD3A !important;
color:#fff !important; width:100%; padding-left:67px;} .sub{font-size:15px;}
}

@media (max-width: 360px) {
.nav-container nav .nav-utility {background-color: #8CBD3A !important;
color:#fff !important; width:100%; padding-left:4px !important;} .sub{font-size:14px;}
}

/* END OF TOP BAR CONFIGURATION */

/* SUBMENU LI CONFIGURATION */
nav .menu > li > ul > li{
line-height:16px !important;
}
/* END OF SUBMENU LI CONFIGURATION */

/* SUBMENU LI A CONFIGURATION */
nav .menu > li > ul li a{
font-size:12px;
font-weight:600;
}
@media (min-width: 991px){
nav .menu > li > ul li a:hover{
background-color:#009ED6;
padding-left:24px;
}
}
nav .menu > li > ul li a:hover {background-color:#009ED6;}

/* END OF SUBMENU LI A CONFIGURATION */

/* IMAGES ZOOM CONFIGURATION */
.zoom-hover:hover img {transform: scale(1);-webkit-transform: scale(1);}
/* END OF IMAGES ZOOM CONFIGURATION */

/* RANDOM POSTS THUMBNAIL CONFIGURATION */
.wp-post-image {display:none !important;}

.attachment-wanium_grid{display:inline !important;}

.arpw-thumbnail{display: inline !important;}
/* END OF RANDOM POSTS THUMBNAIL CONFIGURATION */

/* BLOG TITLES CONFIGURATION */
.heading-title {
	text-transform:none !important;
	font-size:40px;
}
/* END OF BLOG TITLES CONFIGURATION */

/* BLOG SUBTITLES CONFIGURATION */
.lead{display:none;}
/* END OF BLOG SUBTITLES CONFIGURATION */

/* BLOG SECTION CONFIGURATION */
.page-title-center, .page-title-basic {
    height: 170px;
}
/* END OF BLOG SECTION CONFIGURATION */






